@page
@model AplicativoWebProvaRemota.Pages.Clientes.EditarModel
@{
}

<br />
<h2>Editar Cliente</h2>

@if (Model._mensagem.PossuiErros)
{
    <div>
    @foreach(var mensagem in Model._mensagem.BuscarErros())
    {
        <div>
            <strong>@mensagem</strong>
        </div>
    }
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Fechar"></button>
    </div>
}

<form method="POST">
    <intput type="hidden" name="cpf" value="@Model.Cliente.CPF">
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Cpf</label>
        <div class="col-sm-6">
            <input disabled type="text" class="form-control" name="Cpf" value="@Model.Cliente.CPF"/>
        </div>
    </div>
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Nome</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="Nome" value="@Model.Cliente.Nome"/>
        </div>
    </div>
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Sexo</label>
        <div class="col-sm-6">
            <select name="Sexo" class="col-sm-12" style="height:100%" asp-for="@Model.Cliente.Sexo">
                <option value="M">Masculino</option>
                <option value="F">Feminino</option>
                <option value="O">Outro</option>
            </select>
        </div>
    </div>
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Tipo</label>
        <div class="col-sm-6">
            <input type="number" class="form-control" name="Tipo" value="@Model.Cliente.TipoId"  min="1" max="2"/>
        </div>
    </div>
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Situacao</label>
        <div class="col-sm-6">
            <input type="number" class="form-control" name="Situacao" value="@Model.Cliente.SituacaoId" min="1" max="2"/>
        </div>
    </div>

    @if(Model._mensagem.PossuiMensagens)
    {
        <div class="row mb-3">
            @foreach(var mensagem in Model._mensagem.BuscarMensagens())
            {
                <div class="col-sm-9">
                    <div class="alert alert-success alert-dismissible fade show" role="alert"> 
                        <strong>@mensagem</strong>
                    </div>
                </div>
            }
            <button type="button" class="btn-close" data-bd-dismiss="alert" aria-label="Fechar"></button>
        </div>
    }

    <div class="row mb-3">
        <div class="offset-sm-3 col-sm-3 d-grid">
            <button type="submit" class="btn-primary">Editar</button>
        </div>
        <div class="col-sm-3 d-grid">
            <a class="btn btn-outline-primary" href="/" role="button">Voltar ao inicio</a>
        </div>
    </div>
</form>
